In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None

# Rainfall Distribution Partitioned by Day

# VERY HEAVY RAINFALL

In [6]:
def post(post_name, low, high, sheet, row, col, dist = None, type_ = None, aligned = None):
    post_df = pd.read_csv('rainfall_df_' + post_name + '.csv')
    post_df.sort_values(by = ['Date', 'Time'], ascending = [1, 1], inplace = True)
    post_df['Rainfall (mm)'] = post_df['Rainfall (mm)'].astype('float')
    post_df['Date'] = pd.to_datetime(post_df['Date']).dt.date
    daily = post_df.groupby('Date')['Rainfall (mm)'].sum()
    if low >= 1: daily = daily[daily >= low]
    else: daily = daily[(daily >= low) & (daily < high)]
    post_df = post_df[post_df['Date'].isin(daily.index)]
    if len(post_df) == 0: return
    pivot = post_df.pivot(index='Date', columns='Time', values='Rainfall (mm)')
    pivot.columns = [int(str(c).split(':')[0]) for c in pivot.columns]
    
    if aligned:
        post_df = post_df[post_df['Rainfall (mm)'] > 0]
        post_df["hour_in_event"] = post_df.groupby("Date").cumcount() + 1
        pivot = post_df.pivot(index = "Date", columns = "hour_in_event", values = "Rainfall (mm)")
    
    if post_name == 'pasirjaya': pivot.drop(pivot.loc[datetime.date(2022, 3, 2):datetime.date(2022, 4, 9)].index, inplace = True)
    duration, rainfall, intensity = pivot.count(axis = 1), pivot.sum(axis = 1), pivot.mean(axis = 1)
    pivot['duration'], pivot['rainfall'], pivot['intensity'] = duration, rainfall, intensity
    
    if dist:
        col = 0
        for duration in range(1, pivot['duration'].max() + 1):
            percent = pivot[pivot['duration'] == duration]
            if percent.empty: continue
            total = percent.iloc[:, 0:duration].sum(axis = 1)
            percent = percent.iloc[:, 0:duration].div(total, axis = 0) * 100
            mean, count = percent.mean(), percent.count()
            percent.loc['count'], percent.loc[(str(duration) + ' Jam')] = count, mean
            #percent.to_excel(writer, sheet_name = '%' + sheet, index = True, startrow = row, startcol = col)
            #col += percent.shape[1] + 3
            
            #display(percent.loc[[str(duration) + " Jam"]])
            percent.loc[[(str(duration) + ' Jam')]].to_excel(writer, sheet_name = 'summary', index = True, header = False, startrow = row, startcol = 3)
            #percent.to_excel(writer, sheet_name = '%' + sheet, index = True, startrow = row, startcol = col)
            #col += percent.shape[1] + 3
            row += 1
        row += 4
        return percent.loc[[str(duration) + " Jam"]]
    
    mean_all = pivot.mean()
    mean_rain = pivot[pivot > 0].mean()
    #if not mean_all.empty:
    #    pivot.loc['true_mean'] = mean_all
    #    pivot.loc['rainy_only'] = mean_rain
    
    
    def get_span_duration(row):
        rain_hours = row[row > 0]
        if rain_hours.empty:
            return np.nan
        return rain_hours.index[-1] - rain_hours.index[0] + 1
    
    def get_first_rain_hour(row):
        for hour in range(24):
            if row[hour] > 0: return hour
        return None  # If no rain that day
    
    #pivot['duration_cont'] = pivot[list(range(24))].apply(get_span_duration, axis=1)
    #pivot['intensity_cont'] = pivot['total_rain']/pivot['duration_cont']
    pivot['first_rain_hour'] = pivot.apply(get_first_rain_hour, axis=1)
    
    if type_ == 'duration_freq':
        if 'true_mean' in pivot.index: pivot.drop('true_mean', inplace = True)
        if 'rainy_only' in pivot.index: pivot.drop('rainy_only', inplace = True)
        if 'true_normalized' in pivot.index: pivot.drop('true_normalized', inplace = True)
        if 'rainy_normalized' in pivot.index: pivot.drop('rainy_normalized', inplace = True)
        display(pivot)
        duration_freq = pivot.groupby('duration')['duration'].count().to_frame()
        duration_freq.sort_index(inplace = True)
        duration_freq.rename(columns = {'duration': 'frequency'}, inplace = True)
        duration_freq['%'] = duration_freq['frequency']/duration_freq['frequency'].sum()
        display(duration_freq)
        #duration_freq.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
        return
    
    elif type_ == 'start_hour':
        if 'true_mean' in pivot.index: pivot.drop('true_mean', inplace = True)
        if 'rainy_only' in pivot.index: pivot.drop('rainy_only', inplace = True)
        if 'true_normalized' in pivot.index: pivot.drop('true_normalized', inplace = True)
        if 'rainy_normalized' in pivot.index: pivot.drop('rainy_normalized', inplace = True)

        start_of_rain = pivot.groupby('first_rain_hour')['first_rain_hour'].count().to_frame()
        start_of_rain = start_of_rain.reindex(range(24), fill_value = 0)
        start_of_rain['%'] = start_of_rain['first_rain_hour']/start_of_rain['first_rain_hour'].sum()
        start_of_rain.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
        return

    elif type_ == 'non_continuous':
        def realign_rainfall_span(row):
            rain = row[list(range(24))]
            rain_hours = rain[rain > 0]
            start = rain_hours.index[0]
            end = rain_hours.index[-1]
            span = rain.loc[start:end].values
            shifted = list(span) + [np.nan] * (24 - len(span))
            return pd.Series(shifted)
    
        aligned = pivot.apply(realign_rainfall_span, axis=1)
        if dist: aligned = aligned.iloc[:-4]
        else: aligned = aligned.iloc[:-2]
        aligned.columns = range(1,25)
        aligned['duration'] = aligned.count(axis = 1)
        
        return aligned#.iloc[:-10]
    
    elif type_ == 'intensity':
        post_df['datetime'] = pd.to_datetime(post_df['Date'].astype(str) + ' ' + post_df['Time'])
        post_df['is_raining'] = post_df['Rainfall (mm)'] > 0
        post_df['time_diff'] = post_df['datetime'].diff()
        post_df['new_event'] = (post_df['is_raining']) & (
            (post_df['time_diff'] > pd.Timedelta(hours=1)) |
            (~post_df['is_raining'].shift(1, fill_value=False))
        )
        post_df['event_id'] = post_df['new_event'].cumsum()
        post_df.loc[~post_df['is_raining'], 'event_id'] = 0
        post_df = post_df[post_df['event_id'] > 0]
        post_df['hour_in_event'] = post_df.groupby(['Date', 'event_id']).cumcount() + 1
        if aligned: pivot = post_df.pivot(index = ['Date', 'event_id'], columns = 'hour_in_event', values = 'Rainfall (mm)')
        else: pivot = post_df.pivot(index = ['Date', 'event_id'], columns = 'Time', values = 'Rainfall (mm)')
        if post_name == 'pasirjaya': pivot.drop(pivot.loc[datetime.date(2022, 3, 2):datetime.date(2022, 4, 9)].index, inplace = True)
        pivot.columns = [int(str(c).split(':')[0]) for c in pivot.columns]
        duration, rainfall, intensity = pivot.count(axis = 1), pivot.sum(axis = 1), pivot.mean(axis = 1)
        pivot['duration'], pivot['rainfall'], pivot['intensity'] = duration, rainfall, intensity
        
        intensity = pivot[['duration', 'rainfall', 'intensity']]
        bins = [0, 10, 20, 30, 40, 50, 100, float('inf')]
        labels = ['0 - 10', '10 - 20', '20 - 30', '30 - 40', '40 - 50', '50 - 100', '> 100']
        intensity['category'] = pd.cut(intensity['intensity'], bins = bins, labels = labels, right = False)
        count = intensity.groupby('category')['category'].count().to_frame()
        count['%'] = count['category']/count['category'].sum()
        
        intensity.to_excel(writer, sheet_name = 'int_count', index = True, startrow = row, startcol = col)
        count.to_excel(writer, sheet_name = 'int_count', index = True, startrow = len(intensity) + 5, startcol = col)
    
    # Rename columns to Hour_1 .. Hour_24
    #aligned_rain.columns = [f'Hour_{i+1}' for i in range(24)]

    
    if dist: pivot.to_excel(writer, sheet_name = '%' + sheet , index = True, startrow = row, startcol = col)
    else: pivot.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
    return pivot

def filter_(df, mode):
    columns = list(range(1, mode + 1)) + ['duration']
    df = df[df['duration'] == mode].loc[:, columns]
    count, total, mean = df.count(), df.sum(), df.mean()
    stats = pd.DataFrame([count, total, mean], index=['count', 'total', 'mean'])
    df = pd.concat([df, stats])
    return df

## General

In [11]:
with pd.ExcelWriter(
    'dist_vheavy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, i, 3, col)

## Aligned

In [12]:
with pd.ExcelWriter(
    'dist_vheavy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 31
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, i, 3, col, aligned = True)

## Distribution

In [15]:
with pd.ExcelWriter(
    'dist_vheavy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    row = 3
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        df = post(i, 100, None, i, row, 3, dist = True, aligned = True)
        if df is None: continue
        row += df.shape[1] + 4

## Duration Frequency

In [72]:
with pd.ExcelWriter(
    'dist_vheavy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang']:#, 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, 'duration_freq2', 3, col, type_ = 'duration_freq', aligned = True)
        col += 4

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,duration,rainfall,intensity
Date,,,,,,,,,,,,,,,,,
2018-10-23,28.0,46.5,7.0,20.5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,105.0,21.000000
2018-10-27,64.5,1.0,157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,222.5,74.166667
2018-11-03,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,152.0,152.000000
2018-11-06,27.0,132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,159.0,79.500000
2018-11-09,159.0,8.0,75.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,334.5,83.625000
2018-12-09,94.0,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,105.5,52.750000
2019-01-25,2.0,15.0,2.0,4.0,6.5,38.5,60.0,213.5,NaN,NaN,NaN,NaN,NaN,NaN,8,341.5,42.687500
2019-01-30,47.5,2.0,47.5,36.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,133.5,33.375000
2019-02-11,4.0,2.0,2.0,275.5,263.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,547.0,109.400000
2019-04-02,0.5,17.5,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,149.0,49.666667
2020-01-24,2.0,18.0,56.0,20.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,106.0,17.666667
2020-02-08,16.0,16.0,36.0,28.5,5.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,102.0,17.000000
2020-02-23,4.0,149.0,31.5,2.5,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,193.5,38.700000
2020-02-25,17.5,39.5,10.0,4.0,25.5,41.0,23.0,0.5,1.0,0.5,NaN,NaN,NaN,NaN,10,162.5,16.250000
2021-02-19,2.5,81.0,43.0,2.0,0.5,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,134.0,19.142857
2021-10-28,14.0,36.0,33.0,52.0,17.5,57.5,17.0,10.0,30.5,2.0,0.5,0.5,0.5,0.5,14,271.5,19.392857
2021-10-30,255.0,0.5,0.5,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,257.0,51.400000
2021-10-31,127.5,0.5,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,129.0,32.250000
2021-11-01,127.5,9.0,15.0,9.5,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,163.0,32.600000
2022-04-08,101.5,5.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,108.0,36.000000
2022-04-11,4.0,32.5,86.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,123.0,41.000000
2022-09-07,29.0,83.5,0.5,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,139.0,34.750000
2022-09-09,6.0,79.5,39.5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,129.0,32.250000
2022-11-17,45.0,65.5,2.0,3.5,4.0,2.5,0.5,3.5,1.5,0.5,NaN,NaN,NaN,NaN,10,128.5,12.850000
2023-01-04,1.5,1.0,27.0,7.0,10.5,39.5,9.0,6.0,1.0,0.5,NaN,NaN,NaN,NaN,10,103.0,10.300000
2023-03-27,8.0,141.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,149.5,74.750000
2023-03-30,1.0,62.5,59.0,10.5,1.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,135.5,22.583333
2024-01-11,7.5,143.0,21.0,0.5,1.5,1.0,3.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,8,178.5,22.312500
2024-01-17,19.0,64.5,72.5,15.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,171.5,34.300000
2024-01-19,5.5,1.0,15.0,7.5,1.0,1.0,3.0,4.0,2.5,4.0,20.0,71.0,4.5,NaN,13,140.0,10.769231
2024-01-27,18.0,53.5,19.0,5.5,1.0,23.0,9.5,6.0,3.0,NaN,NaN,NaN,NaN,NaN,9,138.5,15.388889
2024-09-26,10.5,4.5,2.0,3.0,2.0,3.0,1.0,1.5,45.0,102.5,1.0,2.0,1.0,4.5,14,183.5,13.107143
2024-12-19,39.0,0.5,5.0,63.0,24.5,1.0,24.0,1.0,0.5,NaN,NaN,NaN,NaN,NaN,9,158.5,17.611111
2025-01-05,3.5,187.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,218.5,72.833333
2025-01-08,33.5,5.5,2.0,15.5,102.5,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,164.5,27.416667
2025-01-30,1.0,7.0,104.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,134.0,33.500000

          frequency         %
duration
1                 1  0.027778
2                 3  0.083333
3                 5  0.138889
4                 6  0.166667
5                 6  0.166667
6                 4  0.111111
7                 1  0.027778
8                 2  0.055556
9                 2  0.055556
10                3  0.083333
13                1  0.027778
14                2  0.055556

## Start of Hour Frequency

In [7]:
with pd.ExcelWriter(
    'dist_vheavy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 30
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, 'duration_freq2', 3, col, type_ = 'start_hour')
        if i in ['cawang', 'pamulang']: col += 5
        else: col += 4

## Intensity Frequency

In [13]:
with pd.ExcelWriter(
    'dist_vheavy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, i, 3, col, type_ = 'intensity')
        col += 7

# INTENSE RAINFALL

In [5]:
def post(post_name, low, high, sheet, row, col, dist = None, type_ = None, aligned = None, intense = None):
    post_df = pd.read_csv('rainfall_df_' + post_name + '.csv')
    post_df.sort_values(by = ['Date', 'Time'], ascending = [1, 1], inplace = True)
    post_df['Rainfall (mm)'] = post_df['Rainfall (mm)'].astype('float')
    post_df['Date'] = pd.to_datetime(post_df['Date']).dt.date
    daily = post_df.groupby('Date')['Rainfall (mm)'].sum()
    daily = daily[daily >= low]
    post_df = post_df[post_df['Date'].isin(daily.index)]
    if len(post_df) == 0: return
    post_df['datetime'] = pd.to_datetime(post_df['Date'].astype(str) + ' ' + post_df['Time'])
    post_df['is_raining'] = post_df['Rainfall (mm)'] > 0
    post_df['time_diff'] = post_df['datetime'].diff()
    post_df['new_event'] = (post_df['is_raining']) & (
        (post_df['time_diff'] > pd.Timedelta(hours=1)) |
        (~post_df['is_raining'].shift(1, fill_value=False))
    )
    post_df['event_id'] = post_df['new_event'].cumsum()
    post_df.loc[~post_df['is_raining'], 'event_id'] = 0
    post_df = post_df[post_df['event_id'] > 0]
    post_df['hour_in_event'] = post_df.groupby(['Date', 'event_id']).cumcount() + 1
    if aligned: pivot = post_df.pivot(index = ['Date', 'event_id'], columns = 'hour_in_event', values = 'Rainfall (mm)')
    else: pivot = post_df.pivot(index = ['Date', 'event_id'], columns = 'Time', values = 'Rainfall (mm)')
    if post_name == 'pasirjaya': pivot.drop(pivot.loc[datetime.date(2022, 3, 2):datetime.date(2022, 4, 9)].index, inplace = True)
    pivot.columns = [int(str(c).split(':')[0]) for c in pivot.columns]
    duration, rainfall, intensity = pivot.count(axis = 1), pivot.sum(axis = 1), pivot.mean(axis = 1)
    pivot['duration'], pivot['rainfall'], pivot['intensity'] = duration, rainfall, intensity
    if intense: pivot = pivot[pivot['intensity'] >= intense]
    if i in ['cawang', 'pamulang', 'pasarbaru', 'pasirjaya']: pivot = pivot[pivot['intensity'] >= 10]
    else: pivot = pivot[pivot['intensity'] >= 10]
    if dist:
        col = 0
        for duration in range(1, pivot['duration'].max() + 1):
            percent = pivot[pivot['duration'] == duration]
            if percent.empty: continue
            total = percent.iloc[:, 0:duration].sum(axis = 1)
            percent = percent.iloc[:, 0:duration].div(total, axis = 0) * 100
            mean, count = percent.mean(), percent.count()
            percent.loc[('count', 0), :], percent.loc[(str(duration) + ' Jam', 0), :] = count, mean
            percent.to_excel(writer, sheet_name = '%' + sheet, index = True, startrow = row, startcol = col)
            col += percent.shape[1] + 3
            
            #display(percent.loc[[str(duration) + " Jam"]])
            #percent.loc[[(str(duration) + ' Jam', 0)], :].to_excel(writer, sheet_name = 'summary', index = True, header = False, startrow = row, startcol = 3)
            #percent.to_excel(writer, sheet_name = '%' + sheet, index = True, startrow = row, startcol = col)
            #col += percent.shape[1] + 3
            #row += 1
        #row += 4
        return percent.loc[[str(duration) + " Jam"]]
        
    def get_first_rain_hour(row):
        for hour in range(24):
            if row[hour] > 0: return hour
        return None  # If no rain that day
    
    pivot['first_rain_hour'] = pivot.apply(get_first_rain_hour, axis=1)
    
    #mean_all = pivot.mean(axis = 0)
    #mean_rain = pivot[pivot > 0].mean()
    #pivot.loc[('mean', 0),:] = mean_all
    #pivot.loc[('rainy_only', '')] = mean_rain
    
    #if dist:
    #    pivot.loc['true_normalized'] = mean_all/mean_all.sum() * 100
    #    pivot.loc['rainy_normalized'] = mean_rain/mean_rain.sum() * 100
    
    if type_ == 'duration_freq':
        duration_freq = pivot.groupby('duration')['duration'].count().to_frame()
        duration_freq.sort_index(inplace = True)
        duration_freq.rename(columns = {'duration': 'frequency'}, inplace = True)
        duration_freq['%'] = duration_freq['frequency']/duration_freq['frequency'].sum()
        duration_freq.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
        return
    
    elif type_ == 'start_hour':
        start_of_rain = pivot.groupby('first_rain_hour')['first_rain_hour'].count().to_frame()
        start_of_rain = start_of_rain.reindex(range(24), fill_value = 0)
        start_of_rain['%'] = start_of_rain['first_rain_hour']/start_of_rain['first_rain_hour'].sum()
        start_of_rain.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
        return

    elif type_ == 'non_continuous':
        def realign_rainfall_span(row):
            rain = row[list(range(24))]
            rain_hours = rain[rain > 0]
            start = rain_hours.index[0]
            end = rain_hours.index[-1]
            span = rain.loc[start:end].values
            shifted = list(span) + [np.nan] * (24 - len(span))
            return pd.Series(shifted)
    
        aligned = pivot.apply(realign_rainfall_span, axis=1)
        if dist: aligned = aligned.iloc[:-4]
        else: aligned = aligned.iloc[:-2]
        aligned.columns = range(1,25)
        aligned['duration'] = aligned.count(axis = 1)
        
        return aligned#.iloc[:-10]
    
    elif type_ == 'intensity_freq':
        intensity = pivot[['duration', 'rainfall', 'intensity']]
        bins = [0, 10, 20, 30, 40, 50, 100, float('inf')]
        labels = ['0 - 10', '10 - 20', '20 - 30', '30 - 40', '40 - 50', '50 - 100', '> 100']
        intensity['category'] = pd.cut(intensity['intensity'], bins = bins, labels = labels, right = False)
        count = intensity.groupby('category')['category'].count().to_frame()
        count['%'] = count['category']/count['category'].sum()
        
        intensity.to_excel(writer, sheet_name = 'int_count', index = True, startrow = row, startcol = col)
        count.to_excel(writer, sheet_name = 'int_count', index = True, startrow = len(intensity) + 5, startcol = col)
        return
    
    if dist: pivot.to_excel(writer, sheet_name = '%' + sheet , index = True, startrow = row, startcol = col)
    else: pivot.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
    return pivot

def filter_(df, mode):
    columns = list(range(1, mode + 1)) + ['duration']
    df = df[df['duration'] == mode].loc[:, columns]
    count, total, mean = df.count(), df.sum(), df.mean()
    stats = pd.DataFrame([count, total, mean], index=['count', 'total', 'mean'])
    df = pd.concat([df, stats])
    
    return df

In [136]:
post('cawang', 1, None, 'cawang', 3, 0, dist = True, aligned = True)

                         1
Date       event_id
2018-10-27 6         100.0
           8         100.0
2018-11-01 14        100.0
2018-11-03 17        100.0
2018-12-04 35        100.0
2019-02-06 103       100.0
2019-03-18 130       100.0
2019-05-05 154       100.0
2019-05-11 160       100.0
2020-03-15 284       100.0
2021-01-29 479       100.0
2021-03-20 546       100.0
2021-06-18 601       100.0
2021-09-30 631       100.0
2021-10-30 648       100.0
2021-10-31 651       100.0
2021-11-01 654       100.0
2021-12-14 690       100.0
2022-02-05 749       100.0
2022-02-16 760       100.0
2022-04-11 787       100.0
2022-05-20 817       100.0
2022-09-07 864       100.0
2022-10-04 879       100.0
2023-02-19 996       100.0
2023-03-04 1023      100.0
2023-04-08 1048      100.0
2023-04-19 1057      100.0
2023-04-24 1061      100.0
2023-12-28 1134      100.0
2024-03-04 1189      100.0
2024-10-16 1198      100.0
2024-11-16 1211      100.0
2024-11-26 1217      100.0
2024-12-05 1225      100.0
2025-01-17 1256      100.0

AttributeError: 'MergedCell' object attribute 'value' is read-only

## Distribution

In [8]:
with pd.ExcelWriter(
    'dist_intense.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        df = post(i, 1, None, i, 3, col, dist = True, aligned = True)
        #row += df.shape[1] + 4

## General

In [58]:
with pd.ExcelWriter(
    'dist_intense.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 30
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, i, 3, col)

## Aligned

In [56]:
with pd.ExcelWriter(
    'dist_intense.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, i, 3, col, aligned = True)

## Intensity Frequency

In [32]:
with pd.ExcelWriter(
    'dist_intense.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, i, 3, col, type_ = 'intensity_freq')
        col += 7

## Duration Frequency

In [6]:
with pd.ExcelWriter(
    'dist_intense.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 104
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, 'int_count', 3, col, type_ = 'duration_freq')
        col += 4

   ## Start of the Hour Frequency

In [10]:
with pd.ExcelWriter(
    'dist_intense.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, 'start_hour', 3, col, type_ = 'start_hour')
        if i in ['cawang', 'pamulang']: col += 5
        else: col += 4

# GLOBAL

In [13]:
def post(post_name, low, high, sheet, row, col, dist = None, type_ = None, aligned = None):
    post_df = pd.read_csv('rainfall_df_' + post_name + '.csv')
    post_df.sort_values(by = ['Date', 'Time'], ascending = [1, 1], inplace = True)
    post_df['Rainfall (mm)'] = post_df['Rainfall (mm)'].astype('float')
    post_df['Date'] = pd.to_datetime(post_df['Date']).dt.date
    daily = post_df.groupby('Date')['Rainfall (mm)'].sum()
    daily = daily[daily >= low]
    post_df = post_df[post_df['Date'].isin(daily.index)]
    if len(post_df) == 0: return
    pivot = post_df.pivot(index='Date', columns='Time', values='Rainfall (mm)')
    pivot.columns = [int(str(c).split(':')[0]) for c in pivot.columns]
    
    if aligned:
        post_df = post_df[post_df['Rainfall (mm)'] > 0]
        post_df["hour_in_event"] = post_df.groupby("Date").cumcount() + 1
        pivot = post_df.pivot(index = "Date", columns = "hour_in_event", values = "Rainfall (mm)")
    
    if post_name == 'pasirjaya': pivot.drop(pivot.loc[datetime.date(2022, 3, 2):datetime.date(2022, 4, 9)].index, inplace = True)
    duration, rainfall, intensity = pivot.count(axis = 1), pivot.sum(axis = 1), pivot.mean(axis = 1)
    pivot['duration'], pivot['rainfall'], pivot['intensity'] = duration, rainfall, intensity
    
    if dist:
        col = 0
        for duration in range(1, pivot['duration'].max() + 1):
            percent = pivot[pivot['duration'] == duration]
            if percent.empty: continue
            total = percent.iloc[:, 0:duration].sum(axis = 1)
            percent = percent.iloc[:, 0:duration].div(total, axis = 0) * 100
            mean, count = percent.mean(), percent.count()
            percent.loc['count'], percent.loc['mean'] = count, mean
            percent.loc[str(duration) + " Jam"] = mean
            display(percent.loc[[str(duration) + " Jam"]])
            percent.loc[[str(duration) + " Jam"]].to_excel(writer, sheet_name = 'summary', index = True, header = False, startrow = row, startcol = 3)
            #percent.to_excel(writer, sheet_name = '%' + sheet, index = True, startrow = row, startcol = col)
            #col += percent.shape[1] + 3
            row += 1
        row += 4
        return percent.loc[[str(duration) + " Jam"]]
    
    mean_all = pivot.mean()
    mean_rain = pivot[pivot > 0].mean()
    #if not mean_all.empty:
    #    pivot.loc['true_mean'] = mean_all
    #    pivot.loc['rainy_only'] = mean_rain
    
    
    def get_span_duration(row):
        rain_hours = row[row > 0]
        if rain_hours.empty:
            return np.nan
        return rain_hours.index[-1] - rain_hours.index[0] + 1
    
    def get_first_rain_hour(row):
        for hour in range(24):
            if row[hour] > 0: return hour
        return None  # If no rain that day
    
    #pivot['duration_cont'] = pivot[list(range(24))].apply(get_span_duration, axis=1)
    #pivot['intensity_cont'] = pivot['total_rain']/pivot['duration_cont']
    pivot['first_rain_hour'] = pivot.apply(get_first_rain_hour, axis=1)
    
    if type_ == 'duration_freq':
        if 'true_mean' in pivot.index: pivot.drop('true_mean', inplace = True)
        if 'rainy_only' in pivot.index: pivot.drop('rainy_only', inplace = True)
        if 'true_normalized' in pivot.index: pivot.drop('true_normalized', inplace = True)
        if 'rainy_normalized' in pivot.index: pivot.drop('rainy_normalized', inplace = True)
        duration_freq = pivot.groupby('duration')['duration'].count().to_frame()
        duration_freq.sort_index(inplace = True)
        duration_freq.rename(columns = {'duration': 'frequency'}, inplace = True)
        duration_freq['%'] = duration_freq['frequency']/duration_freq['frequency'].sum()
        duration_freq.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
        return
    
    elif type_ == 'start_hour':
        if 'true_mean' in pivot.index: pivot.drop('true_mean', inplace = True)
        if 'rainy_only' in pivot.index: pivot.drop('rainy_only', inplace = True)
        if 'true_normalized' in pivot.index: pivot.drop('true_normalized', inplace = True)
        if 'rainy_normalized' in pivot.index: pivot.drop('rainy_normalized', inplace = True)

        start_of_rain = pivot.groupby('first_rain_hour')['first_rain_hour'].count().to_frame()
        start_of_rain = start_of_rain.reindex(range(24), fill_value = 0)
        start_of_rain['%'] = start_of_rain['first_rain_hour']/start_of_rain['first_rain_hour'].sum()
        start_of_rain.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = 40 + col)
        return

    elif type_ == 'non_continuous':
        def realign_rainfall_span(row):
            rain = row[list(range(24))]
            rain_hours = rain[rain > 0]
            start = rain_hours.index[0]
            end = rain_hours.index[-1]
            span = rain.loc[start:end].values
            shifted = list(span) + [np.nan] * (24 - len(span))
            return pd.Series(shifted)
    
        aligned = pivot.apply(realign_rainfall_span, axis=1)
        if dist: aligned = aligned.iloc[:-4]
        else: aligned = aligned.iloc[:-2]
        aligned.columns = range(1,25)
        aligned['duration'] = aligned.count(axis = 1)
        
        return aligned#.iloc[:-10]
    
    elif type_ == 'intensity':
        post_df['datetime'] = pd.to_datetime(post_df['Date'].astype(str) + ' ' + post_df['Time'])
        post_df['is_raining'] = post_df['Rainfall (mm)'] > 0
        post_df['time_diff'] = post_df['datetime'].diff()
        post_df['new_event'] = (post_df['is_raining']) & (
            (post_df['time_diff'] > pd.Timedelta(hours=1)) |
            (~post_df['is_raining'].shift(1, fill_value=False))
        )
        post_df['event_id'] = post_df['new_event'].cumsum()
        post_df.loc[~post_df['is_raining'], 'event_id'] = 0
        post_df = post_df[post_df['event_id'] > 0]
        post_df['hour_in_event'] = post_df.groupby(['Date', 'event_id']).cumcount() + 1
        if aligned: pivot = post_df.pivot(index = ['Date', 'event_id'], columns = 'hour_in_event', values = 'Rainfall (mm)')
        else: pivot = post_df.pivot(index = ['Date', 'event_id'], columns = 'Time', values = 'Rainfall (mm)')
        if post_name == 'pasirjaya': pivot.drop(pivot.loc[datetime.date(2022, 3, 2):datetime.date(2022, 4, 9)].index, inplace = True)
        pivot.columns = [int(str(c).split(':')[0]) for c in pivot.columns]
        duration, rainfall, intensity = pivot.count(axis = 1), pivot.sum(axis = 1), pivot.mean(axis = 1)
        pivot['duration'], pivot['rainfall'], pivot['intensity'] = duration, rainfall, intensity
        
        intensity = pivot[['duration', 'rainfall', 'intensity']]
        bins = [0, 10, 20, 30, 40, 50, 100, float('inf')]
        labels = ['0 - 10', '10 - 20', '20 - 30', '30 - 40', '40 - 50', '50 - 100', '> 100']
        bins2 = [0, 1, 5, 10, 20, 50, 100, float('inf')]
        labels2 = ['0 - 1', '1 - 5', '5 - 10', '10 - 20', '20 - 50', '50 - 100', '> 100']
        intensity['category'] = pd.cut(intensity['intensity'], bins = bins, labels = labels, right = False)
        intensity['category2'] = pd.cut(intensity['intensity'], bins = bins2, labels = labels2, right = False)
        count = intensity.groupby('category')['category'].count().to_frame()
        count['%'] = count['category']/count['category'].sum()
        count2 = intensity.groupby('category2')['category2'].count().to_frame()
        count2['%'] = count2['category2']/count2['category2'].sum()
        
        intensity.to_excel(writer, sheet_name = 'int_count2', index = True, startrow = row, startcol = col)
        count.to_excel(writer, sheet_name = 'int_count2', index = True, startrow = row, startcol = 65 + col/8*4)
        count2.to_excel(writer, sheet_name = 'int_count2', index = True, startrow = 14, startcol = 65 + col/8*4)
        return
    
    # Rename columns to Hour_1 .. Hour_24
    #aligned_rain.columns = [f'Hour_{i+1}' for i in range(24)]
    
    if dist: pivot.to_excel(writer, sheet_name = '%' + sheet , index = True, startrow = row, startcol = col)
    else: pivot.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
    return pivot

def filter_(df, mode):
    columns = list(range(1, mode + 1)) + ['duration']
    df = df[df['duration'] == mode].loc[:, columns]
    count, total, mean = df.count(), df.sum(), df.mean()
    stats = pd.DataFrame([count, total, mean], index=['count', 'total', 'mean'])
    df = pd.concat([df, stats])
    return df

## General

In [60]:
with pd.ExcelWriter(
    'dist_global.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, i, 3, col)

## Aligned

In [62]:
with pd.ExcelWriter(
    'dist_global.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 31
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, i, 3, col, aligned = True)

## Distribution

In [18]:
with pd.ExcelWriter(
    'dist_global.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    row = 2
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        df = post(i, 1, None, i, row, 0, dist = True, aligned = True)
        row += df.shape[1] + 4

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          51.609207  48.390793

hour_in_event          1          2          3
Date
3 Jam          36.156862  41.521827  22.321311

hour_in_event          1          2         3          4
Date
4 Jam          31.353662  30.123737  23.09788  15.424721

hour_in_event          1          2          3          4         5
Date
5 Jam          20.746543  34.512138  19.742789  16.661004  8.337526

hour_in_event          1          2          3         4         5         6
Date
6 Jam          13.326101  29.121898  19.128309  14.43636  16.44695  7.540383

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,10.10793,18.776204,18.249887,21.369808,16.350832,5.762681,9.382659

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,15.458771,22.892855,10.019581,12.154496,10.374465,9.521467,8.882197,10.696168

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,28.190118,9.95577,16.89177,14.030843,7.704211,5.275668,9.192741,4.430873,4.328007

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,13.469501,20.199785,9.097942,5.048885,7.153873,20.160256,10.017278,5.836251,4.036573,4.979656

hour_in_event,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,
11 Jam,8.333333,4.166667,20.833333,27.083333,20.833333,4.166667,4.166667,2.083333,2.083333,4.166667,2.083333

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
12 Jam,11.764706,14.438503,5.882353,0.534759,1.604278,5.347594,0.534759,28.342246,17.112299,2.139037,9.625668,2.673797

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13
Date,,,,,,,,,,,,,
13 Jam,3.928571,0.714286,10.714286,5.357143,0.714286,0.714286,2.142857,2.857143,1.785714,2.857143,14.285714,50.714286,3.214286

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Date,,,,,,,,,,,,,,
14 Jam,3.966339,5.577464,4.755008,12.711557,9.994857,18.488859,2.608959,2.520635,12.259152,19.205122,2.283857,1.445102,2.964129,1.218962

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          50.967275  49.032725

hour_in_event          1          2          3
Date
3 Jam          39.226967  40.229405  20.543629

hour_in_event          1          2          3          4
Date
4 Jam          34.873305  31.030093  20.172998  13.923604

hour_in_event          1          2          3         4         5
Date
5 Jam          26.653273  26.485775  19.333719  18.12765  9.399582

hour_in_event          1         2         3          4          5         6
Date
6 Jam          16.998205  21.53864  24.51912  15.687254  12.596923  8.659858

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,12.845867,8.671337,15.991997,26.070001,18.162414,6.864398,11.393985

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,23.566379,15.916449,6.407871,14.858397,12.267253,11.642542,9.864684,5.476425

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,19.444444,10.763889,9.722222,18.75,21.527778,10.069444,3.472222,3.819444,2.430556

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,4.574275,21.535326,12.386775,2.287138,8.808877,14.221014,2.287138,20.516304,10.371377,3.011775

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Date,,,,,,,,,,,,,,,
15 Jam,13.559322,8.474576,1.694915,6.779661,16.949153,18.644068,6.779661,3.389831,3.389831,6.779661,1.694915,1.694915,6.779661,1.694915,1.694915

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          60.435637  39.564363

hour_in_event          1          2          3
Date
3 Jam          37.025269  39.591995  23.382736

hour_in_event          1          2          3        4
Date
4 Jam          26.085469  34.386213  22.889818  16.6385

hour_in_event          1          2          3          4          5
Date
5 Jam          11.481446  22.964688  29.592594  21.121991  14.839281

hour_in_event          1         2          3          4          5         6
Date
6 Jam          15.836127  22.84808  19.780339  23.752279  11.952479  5.830696

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,14.318783,7.208995,9.986772,10.019841,33.002646,16.468254,8.994709

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,4.911788,9.222133,14.99599,15.858059,11.848436,15.597434,8.099439,19.46672

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,7.222222,9.444444,9.444444,9.444444,7.777778,10.0,9.444444,10.555556,15.0,11.666667

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
12 Jam,8.75,36.875,8.75,15.625,6.875,2.5,5.625,7.5,1.25,1.25,2.5,2.5

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          58.210139  41.789861

hour_in_event          1          2          3
Date
3 Jam          34.982613  38.259985  26.757402

hour_in_event          1          2          3          4
Date
4 Jam          31.176373  31.881786  22.562782  14.379058

hour_in_event          1          2          3          4          5
Date
5 Jam          20.516305  25.961967  21.986305  19.848659  11.686764

hour_in_event          1          2          3          4          5         6
Date
6 Jam          24.739391  20.253415  17.577279  15.766704  12.325007  9.338205

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,14.579189,20.524978,23.159527,16.741038,8.955573,8.672302,7.367393

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,13.978847,13.417713,13.661671,14.709302,15.741924,9.329543,12.13522,7.025781

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,14.265332,17.253449,17.980111,13.502085,8.811839,10.816348,7.057541,4.495453,5.817842

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,10.551116,7.438364,6.63634,10.077264,12.944325,16.018151,11.536389,10.295555,9.970718,4.531777

hour_in_event,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,
11 Jam,8.510638,17.021277,27.659574,12.765957,10.638298,4.255319,4.255319,6.382979,4.255319,2.12766,2.12766

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
12 Jam,15.178986,5.295188,3.182523,3.96149,20.939927,9.667998,5.216225,5.676024,9.830725,5.433485,12.592511,3.024918

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13
Date,,,,,,,,,,,,,
13 Jam,11.695268,7.094574,6.313324,7.959935,12.868202,9.655819,9.348054,10.661493,6.731954,3.835612,7.786324,2.008461,4.040981

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Date,,,,,,,,,,,,,,
14 Jam,4.026846,6.711409,4.026846,3.691275,1.677852,6.375839,15.100671,1.677852,8.053691,24.496644,10.067114,4.697987,6.040268,3.355705

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Date,,,,,,,,,,,,,,,
15 Jam,7.692308,9.615385,5.769231,5.769231,11.538462,7.692308,9.615385,1.923077,3.846154,5.769231,7.692308,1.923077,5.769231,7.692308,7.692308

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Date,,,,,,,,,,,,,,,,
16 Jam,7.720106,4.79433,10.881202,9.030133,8.83454,7.639597,3.871342,20.536565,4.629558,3.812494,3.625166,5.287606,2.504024,1.166297,4.257435,1.409606

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Date,,,,,,,,,,,,,,,,,
17 Jam,9.566652,5.623032,8.689459,3.838656,2.661568,1.919328,3.876143,2.189234,2.25671,1.986805,3.77118,4.753336,11.02864,11.838357,8.734443,11.500975,5.765482

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          57.449397  42.550603

hour_in_event          1          2          3
Date
3 Jam          31.026949  39.868348  29.104703

hour_in_event          1         2          3          4
Date
4 Jam          26.874182  33.35499  23.116041  16.654787

hour_in_event         1          2          3          4         5
Date
5 Jam          31.94468  21.266745  16.586657  22.727981  7.473936

hour_in_event          1          2          3          4         5         6
Date
6 Jam          29.007226  28.399103  16.459896  15.690397  6.457411  3.985966

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,10.626882,22.918194,13.486525,16.685931,8.041618,20.619457,7.621393

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,4.074911,21.933357,19.492665,13.797415,20.359743,5.903151,6.215651,8.223108

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,19.276435,18.253722,8.502767,11.099704,13.819897,8.987074,5.412998,4.584446,10.062957

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,28.799672,2.726789,8.730541,10.952369,9.22536,18.124503,6.154607,7.270591,2.836655,5.178912

hour_in_event,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,
11 Jam,3.693061,7.598978,6.343125,24.074074,4.352916,10.121328,12.058323,12.984249,13.303533,2.926777,2.543636

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
12 Jam,4.114697,18.438987,12.530539,13.700656,5.876302,24.55317,5.876302,2.134499,3.4332,4.577601,2.629549,2.134499

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13
Date,,,,,,,,,,,,,
13 Jam,1.818182,1.818182,70.909091,3.636364,1.818182,1.818182,1.818182,1.818182,1.818182,7.272727,1.818182,1.818182,1.818182

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Date,,,,,,,,,,,,,,
14 Jam,10.185185,17.592593,8.333333,27.777778,18.518519,6.481481,0.925926,4.62963,0.925926,0.925926,0.925926,0.925926,0.925926,0.925926

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Date,,,,,,,,,,,,,,,,
16 Jam,2.040816,3.571429,3.571429,14.795918,17.346939,4.081633,4.081633,11.734694,4.081633,5.102041,10.204082,7.142857,3.061224,4.081633,4.081633,1.020408

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          52.637985  47.362015

hour_in_event          1          2          3
Date
3 Jam          46.471233  38.906718  14.622049

hour_in_event         1          2          3          4
Date
4 Jam          32.76939  28.245596  22.277339  16.707676

hour_in_event         1          2         3          4          5
Date
5 Jam          13.33741  29.662967  19.92109  18.905457  18.173076

hour_in_event          1          2          3          4          5         6
Date
6 Jam          24.529989  26.341306  13.676485  16.566733  11.272845  7.612641

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,22.232161,13.377062,13.648948,18.58087,11.064259,9.853551,11.24315

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,21.050394,15.497748,13.150619,6.956926,4.956926,12.206926,15.983953,10.196509

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,4.593412,14.539372,14.539372,13.896037,19.981987,11.30983,9.418425,9.251158,2.470407

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,2.531646,2.531646,2.531646,72.151899,8.860759,2.531646,2.531646,3.797468,1.265823,1.265823

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Date,,,,,,,,,,,,,,
14 Jam,6.666667,6.666667,6.666667,6.666667,6.666667,6.666667,6.666667,13.333333,6.666667,6.666667,6.666667,6.666667,6.666667,6.666667

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          54.792381  45.207619

hour_in_event          1          2          3
Date
3 Jam          30.317622  45.342611  24.339767

hour_in_event          1          2          3          4
Date
4 Jam          20.091027  34.014404  29.923332  15.971237

hour_in_event         1          2          3          4        5
Date
5 Jam          18.06296  18.831857  28.429974  18.575309  16.0999

hour_in_event,1,2,3,4,5,6
Date,,,,,,
6 Jam,11.538582,26.499845,14.297688,19.310696,18.278238,10.074951

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,9.284084,15.803685,25.079217,13.231563,9.962157,15.434291,11.205003

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,3.21808,10.103245,18.296437,14.595944,19.432908,19.666989,10.0362,4.650197

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,1.659068,6.16768,6.636272,39.766971,16.843972,14.589666,8.295339,4.381966,1.659068

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,10.526316,21.052632,5.263158,10.526316,10.526316,21.052632,5.263158,5.263158,5.263158,5.263158

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Date,,,,,,,,,,,,,,
14 Jam,11.538462,17.307692,13.461538,5.769231,1.923077,1.923077,7.692308,7.692308,5.769231,5.769231,5.769231,1.923077,3.846154,9.615385

hour_in_event      1
Date
1 Jam          100.0

hour_in_event          1          2
Date
2 Jam          52.290928  47.709072

hour_in_event          1          2          3
Date
3 Jam          34.703476  36.884776  28.411747

hour_in_event          1          2          3          4
Date
4 Jam          25.325491  26.391669  25.670633  22.612208

hour_in_event          1          2          3          4          5
Date
5 Jam          19.796324  29.220117  20.958357  19.808676  10.216526

hour_in_event          1          2          3        4          5          6
Date
6 Jam          11.596144  21.352893  23.012365  17.0812  14.583744  12.373654

hour_in_event,1,2,3,4,5,6,7
Date,,,,,,,
7 Jam,10.474344,21.580365,15.388868,12.043249,17.617335,10.746232,12.149606

hour_in_event,1,2,3,4,5,6,7,8
Date,,,,,,,,
8 Jam,11.771222,20.384419,18.634917,16.237216,9.906551,8.675422,8.681115,5.709139

hour_in_event,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,
9 Jam,7.4295,12.050391,10.388911,17.318943,7.493672,6.462985,15.812392,12.993672,10.049533

hour_in_event,1,2,3,4,5,6,7,8,9,10
Date,,,,,,,,,,
10 Jam,3.861068,3.42952,9.209153,11.620945,3.912612,25.665545,3.42952,23.221187,9.753925,5.896523

hour_in_event,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,
11 Jam,12.631045,8.525755,8.02109,14.66038,6.501039,17.711929,7.081214,5.897184,11.808516,4.591695,2.570154

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
12 Jam,3.21884,5.5487,8.113945,26.381462,8.208785,8.869235,12.061794,6.274281,4.663147,3.777595,9.895333,2.986882

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13
Date,,,,,,,,,,,,,
13 Jam,2.5,2.5,6.666667,6.666667,11.666667,2.5,23.333333,15.0,1.666667,3.333333,0.833333,8.333333,15.0

hour_in_event,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Date,,,,,,,,,,,,,,,,,,
18 Jam,8.333333,5.555556,1.851852,7.407407,6.481481,23.148148,5.555556,3.703704,0.925926,4.62963,3.703704,0.925926,0.925926,3.703704,2.777778,17.592593,1.851852,0.925926

## Duration Frequency

In [74]:
with pd.ExcelWriter(
    'dist_global.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, 'duration_freq2', 3, col, type_ = 'duration_freq', aligned = True)
        col += 4

## Start of Hour Frequency

In [5]:
with pd.ExcelWriter(
    'dist_global.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, 'start_hour', 3, col, type_ = 'start_hour')
        col += 4

## Intensity Frequency

In [91]:
with pd.ExcelWriter(
    'dist_global.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'awsciawi', 'situparigi', 'pamulang', 'pasarbaru', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 1, None, 'int_count', 3, col, type_ = 'intensity')
        col += 8

<br><br><br><br><br><br><br><br><br><br>
# MISC

In [37]:
with pd.ExcelWriter(
    'distribution4.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 30
    for i in ['cawang', 'pamulang', 'pasirjaya']:
        post(i, 200, None, 'duration_freq', 3, col, type_ = 'start_hour')
        col += 3

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-27,0.0,0.0,64.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,157.0,0.0,3.0,222.5,74.166667,21,10.595238,2
2018-11-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,334.5,83.625000,6,55.750000,12
2019-01-25,0.0,2.0,15.0,2.0,0.0,0.0,4.0,6.5,38.5,60.0,...,0.0,0.0,0.0,0.0,8.0,341.5,42.687500,10,34.150000,1
2019-02-11,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,5.0,547.0,109.400000,18,30.388889,0
2021-10-28,14.0,36.0,33.0,52.0,17.5,57.5,17.0,10.0,30.5,2.0,...,0.0,0.0,0.0,0.0,14.0,271.5,19.392857,20,13.575000,0
2021-10-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,257.0,51.400000,10,25.700000,10
2025-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,218.5,72.833333,3,72.833333,13

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2021-10-27,NaN,NaN,NaN,NaN,NaN,16.0,0.5,0.0,9.5,0.0,...,74.0,51.0,71.5,29.0,17.0,370.5,21.794118,19,19.500000,5
2021-10-28,18.5,11.0,64.5,59.0,43.5,60.5,10.5,0.5,0.0,0.5,...,0.0,0.0,0.0,0.0,16.0,342.5,21.406250,19,18.026316,0
2024-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,355.5,71.100000,7,50.785714,11

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2022-03-12,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,214.0,8.916667,24,8.916667,0
2023-11-07,NaN,NaN,NaN,NaN,NaN,NaN,365.0,46.5,0.0,0.0,...,NaN,NaN,NaN,NaN,2.0,411.5,205.750000,2,205.750000,6

In [15]:
with pd.ExcelWriter(
    'distribution4.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    dist = True
    if dist == True: col = 29
    else: col = 0
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        row = 1
        aligned = post(i, 200, None, i, 1, col, dist, type_ = 'non_continuous')
        if aligned is None: continue
        duration_count = aligned.groupby('duration')['duration'].count().sort_values(ascending = False).to_frame()
        for mode in aligned['duration'].mode().to_list():
            filtered = filter_(aligned, mode)
            filtered.to_excel(writer, sheet_name = '%' + i, index = True, startrow = row, startcol = 5)
            row += len(filtered) + 4
            
        aligned.to_excel(writer, sheet_name = i, index = True, startrow = 1, startcol = col)
        duration_count.to_excel(writer, sheet_name = '%' + i, index = True, startrow = 1, startcol = 0)
        #col += 4
    
    #mode = df.iloc[:-3]['duration'].mode().iloc[0]

In [39]:
with pd.ExcelWriter(
    'distribution4.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'pamulang', 'pasirjaya']:
        post(i, 200, None, 'duration_freq', 2, col, type_ = 'duration_freq')
        col += 4

In [44]:
with pd.ExcelWriter(
    'distribution1.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 30
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, 'duration_freq2', 3, col, type_ = 'start_hour')
        col += 3

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-23,28.0,46.5,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,105.0,21.000000,18,5.833333,0
2018-10-27,0.0,0.0,64.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,157.0,0.0,3.0,222.5,74.166667,21,10.595238,2
2018-11-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,152.0,152.000000,1,152.000000,17
2018-11-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,159.0,79.500000,2,79.500000,13
2018-11-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,334.5,83.625000,6,55.750000,12
2018-12-09,0.0,0.0,0.0,94.0,11.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,105.5,52.750000,2,52.750000,3
2019-01-25,0.0,2.0,15.0,2.0,0.0,0.0,4.0,6.5,38.5,60.0,...,0.0,0.0,0.0,0.0,8.0,341.5,42.687500,10,34.150000,1
2019-01-30,47.5,2.0,0.0,47.5,36.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,133.5,33.375000,5,26.700000,0
2019-02-11,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,5.0,547.0,109.400000,18,30.388889,0
2019-04-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,149.0,49.666667,3,49.666667,13
2020-01-24,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,18.0,...,0.0,0.0,0.0,0.0,6.0,106.0,17.666667,12,8.833333,4
2020-02-08,0.0,0.0,16.0,16.0,36.0,28.5,0.0,5.0,0.5,0.0,...,0.0,0.0,0.0,0.0,6.0,102.0,17.000000,7,14.571429,2
2020-02-23,0.0,4.0,149.0,31.5,2.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.5,5.0,193.5,38.700000,23,8.413043,1
2020-02-25,17.5,39.5,10.0,4.0,25.5,41.0,23.0,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,162.5,16.250000,12,13.541667,0
2021-02-19,0.0,0.0,2.5,81.0,43.0,2.0,0.5,0.0,0.0,0.0,...,0.0,0.0,3.0,2.0,7.0,134.0,19.142857,22,6.090909,2
2021-10-28,14.0,36.0,33.0,52.0,17.5,57.5,17.0,10.0,30.5,2.0,...,0.0,0.0,0.0,0.0,14.0,271.5,19.392857,20,13.575000,0
2021-10-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,257.0,51.400000,10,25.700000,10
2021-10-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,129.0,32.250000,10,12.900000,10
2021-11-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,163.0,32.600000,9,18.111111,10
2022-04-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,108.0,36.000000,3,36.000000,14
2022-04-11,0.0,4.0,32.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,123.0,41.000000,17,7.235294,1
2022-09-07,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,4.0,139.0,34.750000,7,19.857143,11
2022-09-09,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,4.0,129.0,32.250000,4,32.250000,16
2022-11-17,0.0,0.0,45.0,65.5,2.0,3.5,4.0,2.5,0.5,3.5,...,0.0,0.0,0.0,0.0,10.0,128.5,12.850000,10,12.850000,2
2023-01-04,0.0,0.0,1.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.5,0.0,0.0,0.0,10.0,103.0,10.300000,19,5.421053,2
2023-03-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,149.5,74.750000,2,74.750000,15
2023-03-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,135.5,22.583333,6,22.583333,14
2024-01-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.5,0.0,0.0,0.0,8.0,178.5,22.312500,8,22.312500,13
2024-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,171.5,34.300000,5,34.300000,11
2024-01-19,5.5,1.0,15.0,7.5,1.0,1.0,3.0,4.0,2.5,4.0,...,0.0,0.0,0.0,0.0,13.0,140.0,10.769231,15,9.333333,0
2024-01-27,18.0,53.5,0.0,0.0,19.0,5.5,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,138.5,15.388889,14,9.892857,0
2024-09-26,10.5,4.5,2.0,3.0,2.0,3.0,1.0,1.5,0.0,0.0,...,1.0,4.5,0.0,0.0,14.0,183.5,13.107143,22,8.340909,0
2024-12-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.5,0.0,0.0,9.0,158.5,17.611111,9,17.611111,13
2025-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,218.5,72.833333,3,72.833333,13
2025-01-08,0.0,0.0,0.0,33.5,5.5,2.0,0.0,0.0,0.0,0.0,...,0.0,15.5,102.5,5.5,6.0,164.5,27.416667,21,7.833333,3
2025-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,7.0,104.0,22.0,4.0,134.0,33.500000,9,14.888889,15

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2022-11-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,121.0,17.285714,7,17.285714,11
2022-11-17,7.0,32.0,24.0,8.0,4.0,5.0,4.0,3.0,3.0,4.0,...,0.0,0.0,0.0,0.0,12.0,101.0,8.416667,13,7.769231,0
2023-11-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,9.0,112.0,12.444444,11,10.181818,9
2023-12-25,0.0,0.0,0.0,4.0,10.0,0.0,1.0,0.0,0.0,0.0,...,100.0,16.0,0.0,0.0,7.0,135.0,19.285714,19,7.105263,3
2024-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,5.0,4.0,2.0,11.0,174.0,15.818182,11,15.818182,13
2024-01-19,4.0,7.0,7.0,29.0,34.0,8.0,8.0,23.0,8.0,10.0,...,0.0,0.0,0.0,0.0,16.0,196.0,12.250000,17,11.529412,0
2024-01-27,0.0,0.0,0.0,0.0,0.0,0.0,10.0,6.0,4.0,18.0,...,0.0,4.0,0.0,0.0,10.0,164.0,16.400000,16,10.250000,6
2024-03-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,19.0,9.0,...,1.0,0.0,1.0,0.0,14.0,108.0,7.714286,16,6.750000,7
2024-04-12,0.0,97.0,31.0,4.0,1.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,183.0,20.333333,17,10.764706,1
2024-07-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,68.0,128.0,2.0,196.0,98.000000,2,98.000000,22
2024-07-06,79.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,8.0,0.0,10.0,148.0,14.800000,23,6.434783,0
2024-09-13,67.0,40.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,113.0,28.250000,7,16.142857,0

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,...,0.0,0.0,0.0,0.0,5.0,194.0,38.8,11,17.636364,9

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,146.5,48.833333,6,24.416667,13

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,36.5,10.0,5.5,2.0,17.5,30.5,20.0,48.0,16.0,4.0,...,0.0,0.0,0.0,0.5,13.0,192.0,14.769231,24,8.000000,0
2021-10-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.5,10.5,29.0,46.0,8.0,170.5,21.312500,15,11.366667,9
2021-10-27,NaN,NaN,NaN,NaN,NaN,16.0,0.5,0.0,9.5,0.0,...,74.0,51.0,71.5,29.0,17.0,370.5,21.794118,19,19.500000,5
2021-10-28,18.5,11.0,64.5,59.0,43.5,60.5,10.5,0.5,0.0,0.5,...,0.0,0.0,0.0,0.0,16.0,342.5,21.406250,19,18.026316,0
2021-10-31,3.0,1.5,2.0,5.0,3.5,1.0,4.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,12.0,101.0,8.416667,16,6.312500,0
2022-04-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69.5,2.0,1.0,2.0,7.0,107.5,15.357143,12,8.958333,12
2022-11-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,105.5,21.100000,5,21.100000,15
2023-11-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27.5,1.5,1.5,2.5,8.0,104.0,13.000000,10,10.400000,14
2023-12-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,150.5,50.166667,3,50.166667,15
2024-01-05,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.5,0.0,0.0,0.0,5.0,107.5,21.500000,20,5.375000,1
2024-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,355.5,71.100000,7,50.785714,11
2024-01-19,0.0,6.0,10.0,6.0,5.5,2.5,9.5,22.5,2.5,12.0,...,0.0,0.0,0.0,0.0,14.0,149.0,10.642857,14,10.642857,1
2024-01-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.5,0.0,...,0.0,0.0,0.0,0.0,5.0,103.5,20.700000,7,14.785714,7
2024-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,102.5,34.166667,9,11.388889,7
2024-06-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,146.5,48.833333,3,48.833333,15
2024-11-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,185.5,30.916667,6,30.916667,14
2024-11-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,106.5,17.750000,6,17.750000,14

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,122.0,24.40,5,24.400000,15
2024-11-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,129.0,43.00,4,32.250000,15
2024-11-27,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,122.0,15.25,17,7.176471,3

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,rain_hour,total_rain,intensity,duration_cont,intensity_cont,first_rain_hour
Date,,,,,,,,,,,,,,,,,,,,,
2020-03-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,105.5,52.750000,2,52.750000,18
2020-05-10,4.5,2.0,4.5,39.0,8.0,25.0,23.0,8.5,2.5,0.0,...,0.0,0.0,0.0,0.0,12.0,153.0,12.750000,16,9.562500,0
2020-09-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,156.5,39.125000,4,39.125000,15
2022-03-02,6.0,6.0,5.5,6.0,5.0,5.5,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,5.0,24.0,139.5,5.812500,24,5.812500,0
2022-03-03,4.5,5.5,4.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,137.5,5.729167,24,5.729167,0
2022-03-04,6.0,6.0,6.0,6.0,6.0,5.5,4.5,5.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,140.5,5.854167,24,5.854167,0
2022-03-05,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,5.5,5.0,5.5,6.0,24.0,143.5,5.979167,24,5.979167,0
2022-03-06,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,5.5,6.5,24.0,143.0,5.958333,24,5.958333,0
2022-03-07,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,5.5,...,6.0,5.5,6.0,6.0,24.0,141.0,5.875000,24,5.875000,0
2022-03-08,6.0,6.0,6.0,6.0,6.0,5.5,6.0,6.0,6.0,5.5,...,4.0,5.5,5.5,6.0,24.0,136.5,5.687500,24,5.687500,0
2022-03-09,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,141.0,5.875000,24,5.875000,0
2022-03-10,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,5.5,6.0,6.0,6.0,24.0,139.5,5.812500,24,5.812500,0
2022-03-11,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,5.5,24.0,135.5,5.645833,24,5.645833,0
2022-03-12,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,214.0,8.916667,24,8.916667,0
2022-03-13,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,140.0,5.833333,24,5.833333,0
2022-03-14,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.0,5.958333,24,5.958333,0
2022-03-15,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,142.0,5.916667,24,5.916667,0
2022-03-16,6.0,6.0,6.0,5.5,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.0,5.958333,24,5.958333,0
2022-03-17,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.0,5.958333,24,5.958333,0
2022-03-18,5.5,5.5,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.5,...,6.0,6.0,6.0,6.0,24.0,137.5,5.729167,24,5.729167,0
2022-03-19,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,5.0,24.0,142.5,5.937500,24,5.937500,0
2022-03-20,6.0,6.0,6.0,5.5,6.0,6.0,6.0,5.5,6.0,6.0,...,6.0,5.5,5.0,5.5,24.0,139.5,5.812500,24,5.812500,0
2022-03-21,6.0,5.5,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,...,6.0,6.0,5.5,6.0,24.0,147.0,6.125000,24,6.125000,0
2022-03-22,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,5.5,6.0,24.0,146.0,6.083333,24,6.083333,0
2022-03-23,6.0,6.0,6.0,5.5,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,5.5,6.0,6.0,24.0,141.0,5.875000,24,5.875000,0
2022-03-24,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0,...,5.5,6.0,6.0,6.0,24.0,155.0,6.458333,24,6.458333,0
2022-03-25,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,5.5,6.0,6.0,24.0,143.5,5.979167,24,5.979167,0
2022-03-26,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,5.5,5.5,24.0,141.5,5.895833,24,5.895833,0
2022-03-27,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,152.5,6.354167,24,6.354167,0
2022-03-28,6.0,6.0,6.0,5.5,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.5,5.979167,24,5.979167,0
2022-03-29,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,144.0,6.000000,24,6.000000,0
2022-03-30,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.0,5.958333,24,5.958333,0
2022-03-31,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,170.0,7.083333,24,7.083333,0
2022-04-01,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.5,5.979167,24,5.979167,0
2022-04-02,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,5.5,6.0,24.0,145.0,6.041667,24,6.041667,0
2022-04-03,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.5,...,6.0,6.0,6.0,6.0,24.0,146.0,6.083333,24,6.083333,0
2022-04-04,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.0,5.958333,24,5.958333,0
2022-04-05,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,137.5,5.729167,24,5.729167,0
2022-04-06,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,5.0,5.5,24.0,142.0,5.916667,24,5.916667,0
2022-04-07,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,143.0,5.958333,24,5.958333,0
2022-04-08,6.0,6.0,6.0,5.5,5.5,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,24.0,142.0,5.916667,24,5.916667,0
2022-04-09,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.5,6.0,6.0,...,0.0,0.0,1.0,1.0,17.0,117.5,6.911765,24,4.895833,0
2022-04-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,97.5,5.5,1.5,0.0,7.0,155.5,22.214286,7,22.214286,16
2022-04-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,165.5,33.100000,5,33.100000,13
2022-06-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.5,0.0,0.0,5.0,135.0,27.000000,8,16.875000,14
2022-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.0,0.0,...,0.0,0.0,0.0,0.0,1.0,124.0,124.000000,1,124.000000,8
2022-09-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,102.0,34.000000,3,34.000000,15
2022-10-04,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,126.0,25.200000,17,7.411765,0
2022-10-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,143.5,35.875000,4,35.875000,12
2022-10-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,110.5,27.625000,4,27.625000,12
2023-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,134.0,44.666667,3,44.666667,12
2023-03-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,125.0,17.857143,7,17.857143,13
2023-03-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,6.0,102.5,17.083333,11,9.318182,8
2023-05-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,114.5,22.900000,5,22.900000,15
2023-11-05,NaN,NaN,NaN,NaN,NaN,NaN,112.5,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,3.0,115.0,38.333333,10,11.500000,6
2023-11-07,NaN,NaN,NaN,NaN,NaN,NaN,365.0,46.5,0.0,0.0,...,NaN,NaN,NaN,NaN,2.0,411.5,205.750000,2,205.750000,6
2023-11-22,NaN,NaN,NaN,130.5,43.5,NaN,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,4.0,177.5,44.375000,16,11.093750,3

In [40]:
post('pasirjaya', 100, None, 'first_hour', 2, col)

                 first_rain_hour         %
first_rain_hour
0                             43  0.728814
1                              0  0.000000
2                              0  0.000000
3                              1  0.016949
4                              0  0.000000
5                              0  0.000000
6                              2  0.033898
7                              0  0.000000
8                              2  0.033898
9                              0  0.000000
10                             0  0.000000
11                             0  0.000000
12                             3  0.050847
13                             2  0.033898
14                             1  0.016949
15                             3  0.050847
16                             1  0.016949
17                             0  0.000000
18                             1  0.016949
19                             0  0.000000
20                             0  0.000000
21                             0  0.000000
22                             0  0.000000
23                             0  0.000000

In [43]:
with pd.ExcelWriter(
    'distribution1.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    col = 0
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        post(i, 100, None, 'duration_freq2', 3, col, type_ = 'duration_freq')
        col += 4

In [9]:
with pd.ExcelWriter(
    'distribution.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        if i == 'lengkongbarang': continue # Very heavy rainfall in Lengkong Barang doesnt exist
        post(i, 100, None, i, 1, 3*32)

In [38]:
with pd.ExcelWriter(
    'distribution.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        for idx, (low, high) in enumerate([(5, 20), (20, 50), (50, 100), (100, None)]):
            post(i, low, high, i, 1, idx*32)

In [5]:
for i in ['cawang']:#, 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
    for idx, (low, high) in enumerate([(5, 20), (20, 50), (50, 100), (100, None)]):
        post(i, low, high, i, 1, idx*31)

In [5]:
def post2(post_name, sheet, type_ = None, mode = None):
    post_df = pd.read_csv('rainfall_df_' + post_name + '.csv')
    post_df.sort_values(by = ['Date', 'Time'], ascending = [1, 1], inplace = True)
    post_df['Rainfall (mm)'] = post_df['Rainfall (mm)'].astype('float')
    post_df['Date'] = pd.to_datetime(post_df['Date']).dt.date
    post_df['datetime'] = pd.to_datetime(post_df['Date'].astype(str) + ' ' + post_df['Time'])
    post_df['is_raining'] = post_df['Rainfall (mm)'] > 0
    post_df['time_diff'] = post_df['datetime'].diff()

    post_df['new_event'] = (post_df['is_raining']) & (
        (post_df['time_diff'] > pd.Timedelta(hours=1)) |
        (~post_df['is_raining'].shift(1, fill_value=False))
    )
    post_df['event_id'] = post_df['new_event'].cumsum()
    post_df.loc[~post_df['is_raining'], 'event_id'] = 0
    event_total = post_df.groupby('event_id')['Rainfall (mm)'].sum()
    valid = event_total[event_total >= 100].index
    post_df = post_df[post_df['event_id'].isin(valid)]
    post_df['hour_in_event'] = post_df.groupby('event_id').cumcount()
    
    event_dates = post_df.groupby('event_id')['datetime'].agg(['min', 'max']).reset_index()
    event_dates['date_start'] = event_dates['min'].dt.date
    event_dates['date_end'] = event_dates['max'].dt.date
    event_dates = event_dates[['event_id', 'date_start', 'date_end']]

    post_df['day_offset'] = post_df.groupby('event_id')['datetime'].transform(
        lambda x: (x.dt.floor('D') - x.dt.floor('D').min()).dt.days + 1
    )
    post_df['hour_label'] = post_df['datetime'].dt.hour.astype(str) + '_' + post_df['day_offset'].astype(str)
    if post_df.empty: return

    if type_ == 'daily':
        final_df = post_df.pivot(index='Date', columns='Time', values='Rainfall (mm)')
        final_df.columns = [int(str(c).split(':')[0]) for c in final_df.columns]
        count, total, mean = final_df.count(), final_df.sum(), final_df.mean()
        final_df.loc['count'] = count
        final_df.loc['total'] = total
        final_df.loc['mean'] = mean
    elif type_ == 'global': 
        pivot = post_df.pivot(index='event_id', columns='hour_label', values='Rainfall (mm)')
        final_df = event_dates.merge(pivot, on='event_id')
        meta_cols = ['event_id', 'date_start', 'date_end']
        data_cols = sorted([col for col in final_df.columns if col not in meta_cols], key=lambda x: (int(x.split('_')[1]), int(x.split('_')[0])))
    
        final_df = final_df[meta_cols + data_cols]
        duration = (final_df.drop(columns = meta_cols).notna()).sum(axis=1)
        total = final_df.drop(columns = meta_cols).sum(axis=1)
        mean = final_df.drop(columns = meta_cols).mean(axis = 1)
        final_df['duration'] = duration
        final_df['total_rain'] = total
        final_df['mean'] = mean
        #final_df.loc['count'] = (final_df.notna()).sum(axis = 1)
    else:
        post_df['relative'] = post_df.groupby('event_id')['datetime'].transform(
            lambda x: (x - x.min()).dt.total_seconds() // 3600 + 1
        )
        post_df['relative'] = post_df['relative'].astype(int)
        final_df = post_df.pivot(index='event_id', columns = 'relative', values = 'Rainfall (mm)')
        if type_ == 'filter' or type_ == '% filter':
            final_df['duration'] = (final_df.notna()).sum(axis=1)
            final_df = final_df[final_df['duration'] == mode].drop(columns = 'duration')
        
        if type_ == '% dist' or type_ == '% filter':
            final_df = final_df.div(final_df.sum(axis=1), axis = 0) * 100
            mean = final_df.mean()
            count = final_df.count()
            final_df.loc['count'] = count
            final_df.loc['mean'] = mean
            final_df.loc['mean_norm'] = mean/mean.sum() * 100
            total = final_df.sum(axis = 1)
            final_df['duration'] = (final_df.notna()).sum(axis=1)
            final_df['total'] = total
        elif type_ == 'filter' or type_ == 'dist':
            count, total, mean = final_df.count(), final_df.sum(), final_df.mean()
            final_df.loc['count'] = count
            final_df.loc['mean'] = mean
            final_df.loc['total'] = total
            duration, total, mean = (final_df.notna()).sum(axis=1), final_df.sum(axis=1), final_df.mean(axis = 1)
            final_df['duration'] = duration
            final_df['total_rain'] = total
            final_df['mean'] = mean
            
        elif type_ == 'start_hour':
            start_of_rain = post_df[post_df['relative'] == 1]
            return start_of_rain.groupby('Time')['Time'].count()

    #if dist: pivot.to_excel(writer, sheet_name = '%' + sheet , index = True, startrow = row, startcol = col)
    #else: pivot.to_excel(writer, sheet_name = sheet, index = True, startrow = row, startcol = col)
    
    return start_of_rain

Time
01:00:00    1
02:00:00    2
03:00:00    1
06:00:00    1
10:00:00    3
11:00:00    2
12:00:00    1
13:00:00    5
14:00:00    2
15:00:00    1
16:00:00    4
17:00:00    1
20:00:00    1
21:00:00    2
22:00:00    1
23:00:00    2
Name: Time, dtype: int64

In [20]:
with pd.ExcelWriter(
    'distribution2 - Copy.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    startcol = 0
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        df = post2(i, 'start', 'start_hour')
        if df is None: continue
        df = df.to_frame()
        df.loc['name'] = i
        display(df)
        df.to_excel(writer, sheet_name = 'start', startrow = 1, startcol = startcol, index = True)
        startcol += 3
        print(startcol)

            Time
Time
01:00:00       1
02:00:00       2
03:00:00       1
06:00:00       1
10:00:00       3
11:00:00       2
12:00:00       1
13:00:00       5
14:00:00       2
15:00:00       1
16:00:00       4
17:00:00       1
20:00:00       1
21:00:00       2
22:00:00       1
23:00:00       2
name      cawang

3

               Time
Time
00:00:00          1
01:00:00          1
06:00:00          1
07:00:00          1
11:00:00          1
13:00:00          1
20:00:00          1
22:00:00          3
23:00:00          1
name      pasarbaru

6

              Time
Time
09:00:00         1
name      awsciawi

9

                Time
Time
13:00:00           1
name      situparigi

12

              Time
Time
01:00:00         1
10:00:00         1
11:00:00         1
14:00:00         2
15:00:00         3
17:00:00         1
23:00:00         1
name      pamulang

15

                 Time
Time
13:00:00            1
15:00:00            2
name      rancabungur

18

               Time
Time
00:00:00          1
03:00:00          1
06:00:00          2
08:00:00          1
12:00:00          3
13:00:00          3
14:00:00          1
15:00:00          3
16:00:00          1
18:00:00          1
20:00:00          1
name      pasirjaya

21

In [106]:
with pd.ExcelWriter(
    'distribution2.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        startcol = 0
        for j in ['global', 'daily']:
            df = post2(i, i, j)
            if df is None: continue
            df.to_excel(writer, sheet_name = i, startrow = 1, startcol = startcol)
            startcol += len(df.columns) + 4
            print(startcol)

45
73
49
77
12
18
12
18
45
73
17
28
958
986

In [109]:
with pd.ExcelWriter(
    'distribution2.xlsx',
    engine = 'openpyxl',
    mode = 'a',
    if_sheet_exists = 'overlay'
) as writer:
    for i in ['cawang', 'pasarbaru', 'awsciawi', 'situparigi', 'pamulang', 'lengkongbarang', 'rancabungur', 'pasirjaya']:
        startcol = 0
        for j in ['dist', '% dist']:
            df = post2(i, i, j)
            if df is None: continue
            df.to_excel(writer, sheet_name = '%' + i, startrow = 1, startcol = startcol)
            startcol += len(df.columns) + 4
            
        if df is not None: mode = df.iloc[:-3]['duration'].mode().iloc[0]
        print(mode)
        for j in ['filter', '% filter']:
            filter_df = post2(i, i, j, mode)
            if filter_df is None: continue
            filter_df.to_excel(writer, sheet_name = '%' + i, startrow = 1, startcol = startcol)
            startcol += len(filter_df.columns) + 4

2
3
2
2
3
3
2
4